Django==1.5.1
Jinja2==2.6
Pygments==1.5
South==0.7.6
Unidecode==0.04.9
blinker==1.2
distribute==0.6.34
django-braces==0.1.7
django-crispy-forms==1.2.0
django-floppyforms==1.0
django-social-auth==0.7.6
docutils==0.9.1
feedgenerator==1.2.1
flake8==1.4
fontforge==1.0
git-remote-helpers==0.1.0
httplib2==0.7.6
jedi==0.6.0
lxml==2.3.6
numpy==1.7.1
oauth2==1.5.211
pelican==3.0
psycopg2==2.5.1
python-openid==2.2.5
python-twitter==0.8.2
pytz==2012f
simplejson==2.6.2
stevedore==0.8
tablib==0.9.11
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.7.1
wsgiref==0.1.2
