{% extends "layouts/base.html" %}

{% block page_title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block page_content %}
    <div class="posts pure-g">
        <section class="post pure-u-1">
            <header class="post-header">
                <h2 class="post-title pure-u-1">{{ post.title }}</h2>
                <p class="post-meta pure-u-1">Posted: <time>{{ post.updated_at }}</time></p>
            </header>
            <div class="post-description pure-u-1">
                {{ post.content_html|safe }}
            </div>
        </section>
    </div>
{% endblock %}
